<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/style.css') }}">
    

    <title>Hello, world!</title>
  </head>
  <body>
    <header class="bg-header">
        <div class="row w-100">
            <div class="col-md-3 col-12"></div>
            <div class="col-md-5">
                <img class="img-fluid" 
                src="{{ url_for('static', filename='img/caesar.png') }}" 
                alt="Julius Caesar"
                width="55%">
                <h1 class="text-light mt-md-5">Julius Caesar</h1>
                <p class="text-light">Quotes generator</p>
            </div>
        </div>
    </header>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>